@{
    ViewData["Title"] = "Edit Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Add New Details</p>
    <p>New Line</p>
    <p>Line number 3</p>
    <p>Line number 4</p>
</div>
